[submodule "public/assets/media/icons"]
	path = public/assets/media/icons
	url = https://github.com/UseInterstellar/Interstellar-Assets.git
	branch = Images
[submodule "public/assets/json"]
	path = public/assets/json
	url = https://github.com/UseInterstellar/Interstellar-Assets.git
	branch = JSON
