---
import AssetCard from "@/components/AssetCard.astro";
import Layout from "@/layouts/Main.astro";
import { ASSET_URL, type Asset } from "@/lib/asset";
import { Gamepad2, PlusCircle } from "lucide-astro";
export const prerender = false;
const games: Asset[] = await (await fetch(`${ASSET_URL}/json/games.json`)).json();
const customGames = (Astro.cookies.get("asset.game")?.json() as Asset[]) ?? [];
---

<Layout>
  <div class="flex justify-center py-8 flex-col items-center gap-4">
    <div class="text-4xl font-bold text-text inline-flex">
      <Gamepad2 class="size-12 mr-2" />
      Games
    </div>
    <button class="p-4 bg-interactive hover:bg-interactive-secondary rounded-md font-semibold inline-flex items-center" data-type="game" id="add-asset">
      <PlusCircle class="size-5 mr-2" />
      Add Game
    </button>
    <div class="flex flex-wrap justify-center gap-4 flex-row mt-30">
      {[...customGames, ...games].sort((a, b) => (a.name > b.name ? 1 : -1)).map((game) => <AssetCard asset={game} />)}
    </div>
  </div>
</Layout>
<script src="@/lib/asset-script.ts"></script>
