---
import Layout from "@/layouts/Main.astro";
---

<script src="@/lib/cloak.ts"></script>
<Layout>
  <div class="flex h-full flex-col overflow-hidden">
    <h3 class="flex text-8xl font-black uppercase place-content-center mt-40 hover:scale-105 hover:-translate-y-1 duration-150">Interstellar</h3>
    <div id="form" class="flex mt-4 flex-col items-center justify-center gap-4">
      <input
        class="h-16 rounded-md w-1/2 py-3 px-4 placeholder-text leading-tight focus:outline-none bg-interactive border-border"
        placeholder="Search"
        id="search"
      />
    </div>
  </div>
</Layout>
<script is:inline>
  const searchUrl = localStorage.getItem("engine") || "https://www.google.com/search?q=";
  const input = document.getElementById("search");
  function isUrl(val = "") {
    if (/^http(s?):\/\//.test(val) || (val.includes(".") && !val.includes(" "))) {
      return true;
    }
    return false;
  }
  document.addEventListener("astro:page-load", () => {
    if (input) {
      input.focus();
      input.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
          let url = input.value;
          if (!isUrl(url)) {
            url = searchUrl + url;
          } else if (!(url.startsWith("https://") || url.startsWith("http://"))) {
            url = `https://${url}`;
          }
          sessionStorage.setItem("goUrl", url);
          location.replace("/tb");
        }
      });
    }
  });
</script>
