---
import Layout from "@/layouts/Main.astro";
import { Search } from "lucide-astro";
---

<Layout>
  <div class="flex-1 flex flex-col items-center justify-center px-4">
    <div class="text-center space-y-2 mb-6">
      <h3 class="flex text-8xl font-black uppercase place-content-center hover:scale-105 hover:-translate-y-1 duration-150">Interstellar</h3>
    </div>
    <div class="items-center justify-center w-full max-w-screen-md">
      <form class="relative">
        <Search class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-interactive-secondary" />
        <input
          id="search"
          class="h-15 w-full border px-3 text-sm pl-10 py-6 bg-interactive border-border text-text focus:outline-none rounded-xl"
          placeholder="Search or type a URL"
          type="search"
        />
      </form>
    </div>
    <div id="bookmarks" class="flex flex-wrap justify-center mt-6 space-x-4 space-y-4"></div>
  </div>
</Layout>

<script is:inline>
  let searchUrl = localStorage.getItem("engine") || "https://www.google.com/search?q=";
  let input = document.getElementById("search");

  function isUrl(val = "") {
    return /^http(s?):\/\//.test(val) || (val.includes(".") && !val.includes(" "));
  }

  function Render() {
    const bookmarks = JSON.parse(localStorage.getItem("bookmarks") || "[]");
    const container = document.getElementById("bookmarks");

    if (container) {
      container.innerHTML = "";
    }

    bookmarks.forEach((bookmark) => {
      const card = document.createElement("button");
      card.className = "relative group cursor-pointer transition-all duration-150 hover:scale-105";

      card.innerHTML = `
        <div class="bg-gray-200 rounded-md flex items-center justify-center" style="width: 145px; height: 145px;">
          <span class="text-xl font-semibold" style="display: flex; align-items: center; height: 100%;">${bookmark.title}</span>
        </div>
        <div class="absolute bottom-0 left-0 w-full h-full bg-black/20 opacity-0 group-hover:opacity-100 rounded-b-md duration-150 flex items-end p-2 px-4 font-semibold transition-all z-10">
          <span class="text-white">${bookmark.title}</span>
        </div>
      `;

      card.addEventListener("click", () => {
        window.location.href = bookmark.url;
      });

      if (container) {
        container.appendChild(card);
      } else {
        console.error("No container found for bookmarks");
      }
    });
  }

  document.addEventListener("astro:page-load", () => {
    if (input) {
      input.focus();
      input.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
          let url = input.value;
          if (!isUrl(url)) {
            url = searchUrl + url;
          } else if (!(url.startsWith("https://") || url.startsWith("http://"))) {
            url = `https://${url}`;
          }
          sessionStorage.setItem("goUrl", url);
          location.replace("/tb");
        }
      });
    }
    Render();
  });
</script>
