---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <a href="/">home</a>
  <iframe id="frame__1" class="w-full h-screen"></iframe>
</Layout>
<script>
  const frame = document.getElementById("frame__1") as HTMLIFrameElement;
  frame.src =
    window.__uv$config.prefix + window.__uv$config.encodeUrl(sessionStorage.getItem("goUrl") || localStorage.getItem("engine") || "https://www.google.com");
</script>
