---
import Layout from "@/layouts/Layout.astro";
import { ArrowLeft, ArrowRight, Home, Loader2, Maximize2, Plus, RotateCw, Star } from "lucide-astro";
---

<script src="@/lib/tabs.ts"></script>
<Layout>
  <div class="bg-background-secondary h-8 flex items-center justify-between px-4">
    <div class="flex space-x-4">
      <button title="New Tab">
        <Plus class="w-6 h-6 cursor-pointer bg-accent rounded-md Plus" />
      </button>
    </div>
  </div>
  <div class="bg-background-secondary h-12 flex items-center justify-between px-4">
    <div class="flex items-center space-x-4">
      <a href="/" id="home" title="Home Page">
        <Home class="w-5 h-5 cursor-pointer" />
      </a>
      <button title="Click to go back." id="back">
        <ArrowLeft class="w-5 h-5 cursor-pointer" />
      </button>
      <button title="Click to go forward." id="forward">
        <ArrowRight class="w-5 h-5 cursor-pointer" />
      </button>
      <button title="Click to reload this page." id="reload">
        <RotateCw class="w-5 h-5 cursor-pointer" />
      </button>
    </div>
    <div class="flex-grow flex items-center justify-center mx-4">
      <input
        type="text"
        placeholder="Search or enter a new URL"
        id="inp"
        class="w-10/12 h-8 px-4 rounded-md bg-border outline-none focus:ring-2 focus:ring-accent placeholder:text-interactive-secondary"
      />
    </div>
    <div class="flex items-center space-x-4">
      <button title="Click to use fullscreen." id="fullscreen">
        <Maximize2 class="w-5 h-5 cursor-pointer" />
      </button>
      <button title="Click to bookmark this page." id="bookmark">
        <Star class="w-5 h-5 cursor-pointer" />
      </button>
    </div>
  </div>
  <div class="absolute top-0 left-0 flex flex-col w-full h-screen justify-center items-center z-[-99]">
    <Loader2 class="w-24 h-24 animate-spin text-white-500" />
    <h2 class="mt-2">Interstellar is loading your content!</h2>
  </div>
  <iframe id="frame__1" class="w-full h-[calc(100vh_-_5rem)] z-9" title=""></iframe>
</Layout>
