---
interface Props {
  asset: Asset;
}
import { Image } from "astro:assets";
import { ASSET_URL, type Asset } from "@/lib/asset";
import { Ban, CircleAlert, UserRoundPlus } from "lucide-astro";

const { asset } = Astro.props;
export const prerender = false;
---

<button data-asset={JSON.stringify(asset)}>
  <div class="flex flex-col items-center p-4 bg-secondary size-48 rounded-md space-y-4 duration-150 justify-between border-[1px] hover:border-4">
    <Image loading="eager" src={ASSET_URL + asset.image} alt={asset.name} height={145} width={145} class="size-24 rounded-xl bg-accent" />
    <section class="inline-flex items-center gap-2" class:list={{ "text-red-600": asset.error, "text-yellow-400": asset.partial }}>
      {asset.custom && <UserRoundPlus class="size-5" />}
      {asset.partial && <CircleAlert class="size-5" />}
      {asset.error && <Ban class="size-5" />}
      <span class="text-center font-semibold text-lg line-clamp-2 hover:line-clamp-3">
        {asset.name}
      </span>
    </section>
  </div>
</button>
