@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      /* --background-image: url("/assets/media/backgrounds/full-inverted.png"); */
      --background: 0, 0%, 7%;
      --background-secondary: 0, 0%, 13%;
      --interactive: 0, 0%, 20%;
      --interactive-secondary: 0, 0%, 47%;
      --border: 0, 0%, 27%;
      --accent: 0, 0%, 27%;
      --text: 0, 0%, 100%;
      --text-secondary: 0, 0%, 87%;
   }
}

@layer base {
   body {
      @apply h-full font-sans bg-background text-text;
   }

   * {
      @apply border-border;
   }
}
