---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Interstellar</title>
    <ViewTransitions />
    <script src="/assets/scripts/global.js" is:inline defer></script>
</head>
<body>
    <nav class="flex flex-row justify-between items-center rounded-xl w-[80%] h-16 fixed m-4">
        <a href="/" class="text-6xl font-black text-white p-4">IN</a>
    </nav>
    <slot />
</body>
</html>
<style is:global>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
    @tailwind components;
    @tailwind utilities;
    
    @layer base {
        :root {
            --background-image: url('/assets/media/backgrounds/full-main.png');
        }
    }

 body {
	font-family: "Inter", sans-serif;
	text-decoration: none;
	background: var(--background-image);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
    </style>
