---
declare global {
  interface Window {
    __uv$config: {
      prefix: string;
      encodeUrl: (str: string) => string;
      decodeUrl: (str: string) => string;
    };
  }
}
import "../global.css";

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/assets/media/favicons/default.png" />
    <title>Interstellar</title>
    <ViewTransitions />
    <script is:inline src="/assets/bundled/v.ble.js" defer></script>
    <script is:inline src="/assets/bundled/v.cfg.js" defer></script>
    <script is:inline src="/assets/ex/index.js" defer></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-WKJQ5QHQTJ");
    </script>
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-WKJQ5QHQTJ"></script>
    <script>
      // @ts-expect-error shut
      import { SetTransport } from "@mercuryworkshop/bare-mux";
      window.addEventListener("DOMContentLoaded", () => {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.ready.then(() => {
            SetTransport("EpxMod.EpoxyClient", {
              wisp: `${location.protocol.replace("http", "ws")}//${location.host}/f/`,
            });
          });
          navigator.serviceWorker.register("/sw.js").then(() => console.log("uv registered"));
        }
      });
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
