---
import Obfuscated from "@/components/Obfuscated.astro";
import Layout from "@/layouts/Layout.astro";
import { AppWindow, Gamepad2, LayoutGrid, Menu, Settings2 } from "lucide-astro";

const navLinks = [
  { href: "/games", text: "Games", Icon: Gamepad2 },
  { href: "/apps", text: "Apps", Icon: LayoutGrid },
  { href: "/tabs", text: "Tabs", Icon: AppWindow },
  { href: "/settings", text: "Settings", Icon: Settings2 },
];
---

<Layout>
  <nav
    id="default-nav"
    class="flex flex-row justify-between backdrop-blur-lg bg-background-secondary border-none w-[98vw] h-20 px-6 rounded-xl mx-4 mt-4 fixed top-0 z-[99999] shadow-lg"
  >
    <a href="/" class="uppercase flex items-center text-text hover:scale-105 duration-150 text-6xl font-black">in</a>
    <button id="hamburger" class="text-3xl text-text focus:outline-none hover:scale-110 transition-transform">
      <Menu class="size-8" />
    </button>
    <ul
      id="nav"
      class="mt-2 w-48 flex flex-col absolute top-20 right-0 bg-background-secondary border border-accent rounded-lg p-4 transition-all duration-200 shadow-md"
    >
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href} class="font-medium flex-row inline-flex gap-2 items-center hover:scale-105 hover:bg-accent hover:rounded-md p-3 w-full">
              <link.Icon class="size-5" />
              <Obfuscated text={link.text} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <main class="flex flex-col min-h-screen min-w-full">
    <slot />
  </main>
</Layout>
